/*style.css*/

h1{
  color: #088A68;
  font-family: sans-serif;
  font-size: 100px;
  background-color: red;
  border: 4px solid blue;
  padding: 40px;
  margin-bottom: 40px;
  margin-left: 60px;
}

#intro{
  font-style: italic;
}

p{
  font-size: 30px;
}

.citation{
  margin-left: 100px;
}

img{
  width: 200px;
  height: auto;
}

strong{
  background-color: green;
  font-weight: normal;
}

#chapitre_2 p{
  font-size: 300px;
}
